<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Memo Write Form</title>
        <style>
            form > label {
                display: inline-block;
                width: 120px;
            }
            form > input {
                padding: 4px;
                margin-bottom: 4px;
            }
        </style>
    </head>
    <body>
        <h1>Onememo Form</h1>

        <form action="http://localhost:8000/onememos/createMemo/"
              method="POST" id="memoWriteForm">
            <label for="memo">한 줄 메모 입력</label>
            <input type="text" id="memo" name="memoContent" size="100"
                   placeholder="한 줄 메모 내용을 작성하세요!" autocomplete="off">
        </form>

        <div>
            <button type="submit" form="memoWriteForm">한 줄 메모 등록하기</button>
        </div>

    </body>
</html>